.main-content{
  display: flex;
}
.left-nav{
  width: 300px;
}
.right-content{
  flex:1;
  padding-right: 30px;
}
li{
  font-size: 16px;
  padding: 16px 0;
}
li .active{
  color: orange;
  font-size: 20px;
  font-weight: bold;
}

.ant-row{
  flex: 1;
  align-items: center;
}
.operate-btn{
  margin-right: 20px;
}
.todo-item-row:hover .operate{
  visibility: visible;
}
.operate{
  text-align: right;
  visibility: hidden;
}
.edit-col{
  display: flex !important;
  align-items: center;
}

.ant-btn{
  margin-left: 10px;
}

.todo-list-length{
  margin-left: 20px;
}
.todo-list-header{
  margin: 20px 0;
}
.todo-list-footer{
  margin-top: 20px;
  display: flex;
}
.right-btn{
  margin-left: auto;
}